language: php

php:
  - 5.6
  - 7.0
  - 7.1
  - hhvm

before_script:
  - composer self-update
  - composer update
  - composer require phpunit/phpunit 5.7.5

script: php vendor/bin/phpunit --coverage-text
